// Style alert boxes.

.alert {
    font-weight: $font-weight-medium;
    background: $white;
    color: inherit;
    border-radius: 0;

    @each $color, $value in $theme-colors {
        &-#{$color} {
            & .alert-heading {
                color: $value;
             
            }

            border-style: solid;
            border-color: $value;
            border-width: 0 0 0 4px;
        }
    }
}


.td-content .theorem {
    border-right: 1px solid orange;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid orange;
    border-top: 1px solid orange;
    border-color: orange;
}

span.theorem-heading {
    text-transform: uppercase;
    font-size: 0.9em;
    color: orange;
    padding-right: 10px;
}

span.definition-heading {
    text-transform: uppercase;
    font-size: 0.9em;
    color: $primary;

    padding-right: 10px;
}


.td-content .definition {
    border-right: 1px solid #0089ff;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    border-bottom: 1px solid #0089ff;
    border-top: 1px solid #0089ff;
    border-color: $primary;
}

body {
    background-color: #f7f7f7;
}

main {
    background-color: white;
}